.app-header {
  color: var(--clr2);
  border-bottom: 1px solid #8080802e;
  padding-bottom: 30px;
  margin-bottom: 50px;
  /* background-image: url('/public/abstract-background-wallpaper-zoom.jpg'); */
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5)), url('/public/wp9127221.webp');

  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;

}

.app-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 42, 42, 0.5);
  z-index: -1;
}


.app-nav {
  display: flex;
  gap: 15px;
  font-size: 1.7rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 2rem;
}

.logo-container img {
  height: 50px;
  width: 50px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2);
  }
}