.toy-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); /* Set the max height to 200 pixels */
    gap: 15px;
}




