.toy-list {
    /* display: flex;
    flex-wrap: wrap;  */


    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); */
    gap: 15px;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    margin: 0.5em;
}