.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr1bg);
    margin: 0.5em;
    gap: 10px;
    border-radius: 10px;
    color: black;

}

.img-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.toy-img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    overflow: hidden;

    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    object-fit: contain;
    align-self: center;
    justify-content: center;
}

.toy-img:hover {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.toy-preview h4 {
    text-transform: capitalize;
    color: black;
}


.map-button{
    /* background-color: blue; */
    /* position: relative; */
    z-index: 10;
}

.leaflet-container {
    z-index: 2;
}