:root {
  --clr1: #ffff;
  --clr2: #000000;

  --clr1bg: rgb(145 160 183 / 20%);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(206 218 233);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 