.main-layout {
    display: grid;
    grid-template-columns:100px 1fr 100px;
}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr1);
    color: var(--clr2);
    text-align: center;
}